@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@using Microsoft.AspNetCore.Http.Extensions
@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Extensions

@{
    var loginModel = new LoginModel();
    // You can modify this to redirect to a different URL instead of the current one
    loginModel.RedirectUrl = "/";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

<div class="login-form">

    @using (Html.BeginUmbracoForm<UmbLoginController>(
        "HandleLogin", new { RedirectUrl = loginModel.RedirectUrl })) {


      
            <div class="mt-5">
                <div  class="d-flex justify-content-center">
                    <div class="d-block">
                        <div>
                            <label  asp-for="@loginModel.Username">Email</label><br>
                            <input class="user_input"  asp-for="@loginModel.Username"  />
                        </div>
                        <div class="mb-3">
                            <label  asp-for="@loginModel.Password">@Umbraco.GetDictionaryValue("Password")</label><br>
                            <input asp-for="@loginModel.Password"  type="password"/>
                        </div>
                        <input asp-for="@loginModel.RememberMe" type="checkbox">
                            <label asp-for="@loginModel.RememberMe" >@Umbraco.GetDictionaryValue("Remember me")</label>
                           
                      
                        <div class="d-flex justify-content-center"> 
                              <button type="submit" class="login_btn">@Umbraco.GetDictionaryValue("Login")</button></div>
                    </div>
                    
           
                </div>
         </div>
          
        
    }

</div>